.main-heading {
    position: relative;
    color: #2f2f2f;
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 18px;

    span {
        color: $main-color;
    }

    &::before {
        content: '';
        position: absolute;
        bottom: -7px;
        inset-inline-start: 0;
        height: 2px;
        width: 80%;
        background-color: $main-color;
    }
}

.main-des {
    margin-bottom: 20px;
    font-size: 17px;
    color: $main-color-light;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    width: 620px;
    max-width: 100%;

    &.lg {
        color: #2f2f2f;
        font-size: 20px;
        font-weight: 500;
    }

    @include maxWidth(sm) {
        width: 100%;
    }
}

.title-underline {
    position: relative;
    width: fit-content;
    padding-bottom: 5px;
    margin-bottom: 20px;
    color: $main-color;
    font-size: 25px;
    font-weight: 700;

    &::before {
        content: '';
        position: absolute;
        bottom: -7px;
        inset-inline-start: 0;
        height: 2px;
        width: 80%;
        background-color: $main-color;
    }
}


.header-section {
    color: white;
    background-color: $main-color;

    .area-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .container {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 200px;
        text-align: center;
        padding-block: 1rem;

        .title-header {
            font-size: 24px;
            font-weight: 700;
            line-height: 29px;
            margin-bottom: 13px;
        }

        .des-header {
            width: 560px;
            max-width: 100%;
            margin-bottom: 0;
            font-size: 17px;
        }

        .icon-header {
            width: 78px;
            height: 78px;
            border-radius: 50%;
            background-color: $main-color;
            border: 10px solid white;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            color: white;
            inset-inline-end: 0;
            bottom: -39px;

            .icon {
                width: 18px;
                height: auto;
            }
        }
    }
}