.main-heading {
    position: relative;
    color: #2f2f2f;
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 18px;

    span {
        color: $main-color;
    }
    &::before {
        content: '';
        position: absolute;
        bottom: -7px;
        inset-inline-start: 0;
        height: 2px;
        width: 80%;
        background-color: $main-color;
    }
}

.main-des {
    margin-bottom: 20px;
    font-size: 17px;
    color: $main-color-light;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    width: 620px;
    max-width: 100%;
    &.lg {
        color: #2f2f2f;
        font-size: 20px;
        font-weight: 500;
    }

    @include maxWidth(sm) {
        width: 100%;
    }
}

.title-underline {
    position: relative;
    width: fit-content;
    padding-bottom: 5px;
    margin-bottom: 20px;
    color: $main-color;
    font-size: 25px;
    font-weight: 700;

    &::before {
        content: '';
        position: absolute;
        bottom: -7px;
        inset-inline-start: 0;
        height: 2px;
        width: 80%;
        background-color: $main-color;
    }
}