$main-color: #e1af5b;
$main-color-dark: #b88f49;
$main-color-light: #edd04a;


$nav-link:#fff;
$main-text-color:#2F2F2F;

$white-color: #fff;
$black-color: #000;
$gray-color: #808080;

$bg-section-main: #fbfcfd;
$bg-section-sec: #f1f5f6;
$footer-bg: #11476b;