.landing-holder {
    position: relative;
    height: 83vh;

    .site-header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 111;

        .main-nav {
            box-shadow: unset;
        }
    }
}

.other-image {
    position: relative;
    .container {
        position: absolute;
        top: -85px;
        left: 50%;
        z-index: 1;
        transform: translateX(-50%);

        .box-other-image {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 13px;

            img {
                @include circle(120px);
                transition: $sm-transition;
            }

            .name {
                font-weight: 600;
                font-size: 18px;
                color: $main-color;
            }

            &:hover {
                img {
                    transform: scale(1.06) rotate(20deg);
                }
            }
        }
    }
}

.civilization {
    background: url(../images/services-bg.png) no-repeat fixed center center/cover;
    * {
        color: $white-color;
    }
}

.landmarks-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: 5px;
}
