.swiper-landing {
    @include full-w-h;

    .swiper-wrapper {
        .swiper-slide {
            position: relative;

            .container {
                position: relative;
                height: 100%;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                @include full-w-h;
            }

            &::after {
                content: '';
                position: absolute;
                inset: 0;
                @include full-w-h;
                background-color: #0000003b;
            }
        }
    }

    .swiper-pagination {
        bottom: 3%;
        @include flex-justify(flex-end);
        padding: 0 2%;

        .swiper-pagination-bullet {
            width: 24px;
            height: 24px;
            opacity: 1;
            transition: $sm-transition;
            background-color: $white-color;

            &.swiper-pagination-bullet-active {
                background-color: $main-color;
            }
        }
    }
}

.swiper-landmarks {
    height: auto;
    padding-bottom: 25px;

    .swiper-slide {
        display: flex;
        height: 320px;
        gap: 1.5rem;

        .content {
            width: 40.3%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 15px;
            border-radius: 10px;
            border: 1px solid $main-color;

            .title {
                font-size: 25px;
                color: $main-color;
                margin-bottom: 10px;
                font-weight: 700;
            }

            .title-sm {
                font-size: 17px;
                margin-bottom: 15px;
                line-height: 25px;
                color: #595959d6;

                span {
                    display: block;
                    font-size: 18px;
                    margin-bottom: 5px;
                }
            }

            .text {
                font-size: 17px;
                color: #757575;
            }

            .list-info {
                li {
                    font-size: 15px;
                    margin-bottom: 0.3rem;
                    color: #616161;
                }

                .title-ul {
                    font-size: 17px;
                }
            }
        }

        .land-swiper {
            flex: 1;
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 8px;
        }

        @include maxWidth(md) {
            flex-direction: column-reverse;
            height: auto;

            .content {
                height: auto;
                width: 100%;
            }

            .land-swiper {
                height: 257px;
                flex: unset;
                width: 100%;
            }
        }
    }

    .swiper-pagination {
        position: relative;
        @include flex-justify(center);

        .swiper-pagination-bullet {
            width: 8px;
            height: 8px;
            opacity: 1;
            transition: $sm-transition;
            background-color: $white-color;
            border: 1px solid $main-color;

            &.swiper-pagination-bullet-active {
                background-color: $main-color;
            }
        }
    }

    @include minWidth(lg) {
        .content {
            width: 50%;
        }
    }
}